.box {
    width: 250px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #eee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

/* .block-enter {
    opacity: 0;
    transform: translateX(-100px);
}

.block-entering {
    transition: opacity 500ms linear, transform 1000ms ease-in;
}

.block-enter-to {
    transform: translateX(0);
}

.block-leave {
    transform: translateY(0);
}

.block-leaving {
    transition: opacity 1000ms linear, transform 500ms ease-in;
}

.block-leave-to {
    opacity: 0;
    transform: translateY(-100px);
} */

.block-entering {
    animation-name: slidein;
    animation-duration: 2s;
}

.block-leaving {
    animation-name: slideout;
    animation-duration: 2s;
}

@keyframes slidein {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideout {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100px);
        opacity: 0;
    }
}
