.box {
    width: 250px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #eee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

/* .t-enter,
.t-leave-to {
    opacity: 0;
}

.t-entering,
.t-leaving {
    transition: opacity 500ms linear;
}

.block-enter,
.block-leave-to {
    opacity: 0;
}

.block-entering,
.block-leaving {
    transition: opacity 500ms linear;
} */

.block-entering {
    animation-name: slidein;
    animation-duration: 5000ms;
}

.block-leaving {
    animation-name: slideout;
    animation-duration: 5000ms;
}

/* .block-leave-to {
    opacity: 0;
} */

@keyframes slidein {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideout {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100px);
    }
}
